/* * {
	margin: 0;
	padding: 0;
}*/

body {
	background: #919191;
	background: linear-gradient(to top, #8a4cdf, #66f180);
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1001px;
	height: 1405px;
	box-shadow: 1px 10px 80px 1px #4d4c4e, -1px 10px 80px 1px #4d4c4e;
	background: #fff;
}

.inner {
	display: table;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 955px;
	height: 1358px;
	/*background: green;*/
}

.left_column {
	display: table-cell;
    width: 632px;
    /*background-color: #edeef0;*/
}

.right_column {
	display: table-cell;
    width: 323px;
    background-color: #e0ebf0;
}

/*MY PROFILE LEFT COLUMN*/
.my_profile {
	margin: 0 auto;
	width: 593px;
	height: 215px;
	/*background: blue;*/
	text-align: justify;
}

h1 {
	padding-bottom: 22px;
	font-size: 41px;
	font-weight: bold;
	letter-spacing: 9px;
	color: #369d6f;
	text-shadow: 3px 3px 5px #736e6e;
	-webkit-text-stroke: 1px #000;
	transition: 1s All;
	font-family: 'Century Gothic', sans-serif;
}

h1:hover {
    color: #48c6a2;
    text-shadow: 7px 7px 10px #000, 0 0 10px #61a6c0; 
}

h2 {
	padding-bottom: 22px;
	font-size: 20px;
	font-weight: bold;
	color: #232c31;
	font-family: 'Myriad Pro', sans-serif;
}

.objective {
	font-size: 20px;
	color: #358364;
	line-height: 34px;
	font-family: 'Myriad Pro', sans-serif;
	text-align: center;
}

/*END MY PROFILE*/

a {
	text-decoration: none;
	color: #87818a;
	transition: 1s all;
}

a:hover {
	color: #d01717; 
    text-shadow: 2px 2px 25px #f33131;
}

/*EDUCATION*/
.education {
	font-size: 14px;
	font-family: 'Century Gothic', sans-serif;
}

.headline {
	height: 40px;
	line-height: 40px;
	background: #e0ebf0;
	font-size: 18px;
	font-weight: bold;
	color: #232c31;
	font-family: 'Century Gothic', sans-serif;
}

.headline p {
	padding-left: 17px;
}

.english {
	display: table;
	margin: 23px auto;
    width: 593px;
}

.period {
	display: table-cell;
	width: 160px;
}

.discription {
	display: table-cell;
	width: 447px;
}

.bl {
	margin-bottom: 13px;
	/*font-size: 13px;*/
	font-weight: bold;
	font-family: 'Century Gothic', sans-serif;
}

.it {
	margin-bottom: 10px;
	font-style: italic;
}

.qualification {
	margin-bottom: 10px;
	line-height: 20px;
}

.text {
	line-height: 20px;
	text-align: justify;
}
/*END EDUCATION*/



/*HOBBIES*/
.hob {
    margin-top: 23px;
}

li {
	list-style: none;
}

.hob ul li {
	display: inline-block;
    text-align: center;
    font-size: 14px;
    padding-left: 28px;
    padding-right: 27px;
}

span {
	display: block;
    text-align: center;
    line-height: 17px;
    font-weight: bold;
}

img {
	height: 35px;
}
/*END HOBBIES*/



/*RIGHT COLUMN*/
.pic {
	height: 396px;
	width: 323px;
	background-image: url(../img/image.jpg);
	background-repeat: no-repeat;
}

.pic img {
	width: 0px;
}

.cont1 {
	padding-left: 15px;
	height: 53px;
	line-height: 53px;
	/*text-align: justify;*/
	color: #fff;
	background: #358968;
	font-family: 'Century Gothic', sans-serif;
}

.cont2 {
	padding-left: 15px;
	height: 53px;
	line-height: 53px;
	/*text-align: center;*/
	background: #47ab81;
	font-family: 'Century Gothic', sans-serif;
}

.cont2 a {
	color: #fff;
	text-decoration: none;
	transition: 1s all;
}

.cont2 a:hover {
	color: #d01717; 
    text-shadow: 0px 0px 15px #f33131;
}

.cont3 {
	padding-left: 15px;
	height: 53px;
	line-height: 53px;
	/*text-align: center;*/
	color: #fff;
	background: #80bfa0;
	font-family: 'Century Gothic', sans-serif;
}

.prof li {
	margin-left: 33px;
	padding-bottom: 12px;
	list-style: square;
	font-size: 15px;
	font-family: 'Century Gothic', sans-serif;
}



.cont1 img {
	    vertical-align: middle;
}

.cont2 img {
	    vertical-align: middle;
}

.cont3 img {
	    vertical-align: middle;
}
/*END RIGHT COLUMN*/